:root {
  font-family: 'Pretendard Variable', Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;

  background-color: black;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}
